@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'renaultteemedregular';
}

@font-face {
    font-family: 'renaultteemedregular';
    src: url('/fonts/renaultteemed_regular-webfont.woff2') format('woff2'),
        url('/fonts/renaultteemed_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header{
    margin: 25px 95px;
    display: flex;
    align-items: center;
}

.logo{
    margin-right: 20px;
    width: 65px;
    height: 75px;
}

.titulo-1{
    display: inline-block;
    margin: 0;
    font-size: 50px;
}

nav{
    background-color: black;
    display: block;
}

.menu-nav{
    display: flex;
    padding: 10px;
    margin: 0 0 0 80px;
}

ul{
    list-style: none;
}

.menu-nav li{
    margin: 0;
    font-size: 20px;
}

.menu-nav a{
    margin: 0 20px;
    color: white;
    margin: 15px;
}

.menu-nav a:hover{
    color: rgb(236, 236, 55);
}

a{
    text-decoration: none;
}

.team-renault{
    width: 100%;
    max-width: 100%;
    height: 450px;
    background-color: rgb(236, 236, 55);
    padding-bottom: 20px;
}

h2{
    font-size: 40px;
    margin: 0;
}

main{
    display: flex;
    /* controla los márgenes de alrededor del contenido central*/
    margin: 50px 50px 0 50px;
    width: 96%;
}

section{
    width: 61%;
    margin-left: 5%;
}

article{
    width: 100%;
    /* height: auto; */
}

.intro{
    margin: 30px 0 20px 0;
    font-size: 16px;
    text-align: start;
    line-height: 25px;
    font-family: 'Lora', serif;
}

iframe{
    width: 800px;
    height: 450px;
}

figcaption{
    font-style: italic;
    margin: 10px 0 25px 0;
}

.final-text{
    margin: 30px 40px 30px 0px ;
    font-size: 20px;
    /* font-family: none; */
}

aside{
    width: 20%;
    margin: 58px 5% 50% 4%;
    font-size: large;
}

h3{
    margin: 20px 50px 10px 0px;
}

.aside-title{
    color: rgb(97, 97, 97);
    font-weight: bold;
    text-align: justify;
}

.split-line-title{
    margin: 10px 25px 10px 0;
}

aside ul{
    padding: 0;
}

aside li{
    margin: 10px 0;
    font-family: 'Lora', serif;
    font-weight: lighter;
    font-size: medium;
}

aside a{
    color: grey;
}

.aside-hosting{
    color: rgb(97, 97, 97);
    text-align: justify;
    line-height: 30px;
}

.split-line-hosting{
    margin: 10px 25px 15px 0;
}

.patro-1{
    margin-top: 5px;
    width: 90%;
    height: 20%;
    background-color: grey;
    padding: 1px;
    margin-bottom: 10px;
}

.patro-2{
    width: 90%;
    height: 28%;
    background-color: grey;
    padding: 1px;
}

footer{
    display: block;
    background-color: black;
    /* margin: 0; */
    padding: 20px;
    color: white;
    font-size: 18px;
}

footer ul{
    display: flex;
    margin-left: 7.4%;
}

footer a{
    color: white;
    margin-right: 5px;
}

footer a:hover{
    color: yellow;
}